* {
	box-sizing: border-box;
}

.main {
	display: flex;
	justify-content: center;
}
.default {
	align-items: center;
	border: 2px solid lightgrey;
	font-size: .6rem;
	font-weight: 500;
	line-height: normal;

	height: 45px;
	padding: 13px 15px;
	margin: 30 px 0 0 0 0;
	border-radius: 2px;
	line-height: 2px;
	outline: none;
	color: green;
	background: whitesmoke;
	text-align: center;
}
