* {
	box-sizing: border-box;
}
.main {
	display: flex;
	justify-content: center;
}
.button {
	color: white;
	background: blue;
	width: 200px;
	height: 52px;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	margin: 0 0 0 0;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.button:hover {
	background: yellow;
	color: blue;
}
.button_red {
	background: red;
}
