* {
	box-sizing: border-box;
}

.container {
	max-width: 500px;
	border: 1px solid black;
	border-radius: 18px;
	$box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	margin: 16px;
}
.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}
.group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.container_input {
	padding: 2px 10px 3px 0;
	flex: 1;
}
